@import '~@angular/material/theming';
@import '~variables.scss';

.quickview_city {
  margin-top: $global_margin;
}

.quickview_list__header, .quickview_city, quickview_list {
  color: map-get($mat-grey, 800);
}

.quickview_loader {
  margin: $global_margin * 2;
}

.quickview_price {
  color: map-get($mat-red, 500);
}

.quickview_price__wrap {
  margin: $global_margin 0;
}

.quickview_list {
  margin: 0;
  padding-left: $global_padding;
}

.quickview_price__label {
  color: map-get($mat-grey, 400);
}
