<mat-toolbar color="primary">{{ title }}</mat-toolbar>
<div class="hotellist">
  <app-hotel-filter *ngIf="hotels" [cities]="hotels | pluck: 'city' | unique"></app-hotel-filter>
  <div *ngFor="let hotel of (sortBy ? (hotels | orderBy: '-rate.price') : (hotels | orderBy: 'rate.price'))
  | filterBy: ['name']: searchHotel | filterBy: ['city']: searchCity
  | filterBy: ['amenities.private_bath']: privateBath | filterBy: ['amenities.shared_kitchen']: sharedKitchen">
    <app-hotel-card [hotel]="hotel"></app-hotel-card>
  </div>
</div>
