@import '~@angular/material/theming';
@import '~variables.scss';
.hotelcard__thumbnail {
  padding-right: $global_padding;
}

.hotelcard__city {
  color: map-get($mat-grey, 700);
  font-size: 1rem;
  padding-bottom: $global_padding;
  & .mat-icon {
    padding-right: $small-padding;
  }
}

.hotelcard__list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  color: map-get($mat-grey, 700);

  & .mat-icon {
    padding-right: $small-padding;
  }
}

.hotelcard__rate {
  font-size: 1.2rem;
  color: map-get($mat-red, 500)
}
