<div>
  <p>A Guide to Solving Web Development Problems</p>

  <p>This is mainly about how to solve technical problems that arise from using front or back end technologies to make web pages or web apps but some of these steps will be applicable to solving technical problems in general.</p>

  <p>Half the technical problems in web development are caused by something trivial like forgetting a semi-colon somewhere and are usually easily solvable if you've had your coffee but for all the problems past this level, you'll probably need to do some structured thinking.</p>

  <p>Here is the overview of the concise Web Development Troubleshooting Steps Summary</p>
</div>
