<div class="example-container">
  <form class="example-container" [formGroup]="filterForm">
    <mat-form-field [floatLabel]="filterForm.value.floatLabel">
      <mat-label>Search City</mat-label>
      <input matInput formControlName="searchCity" placeholder="City Name">
    </mat-form-field>

    <mat-form-field [floatLabel]="filterForm.value.floatLabel">
      <mat-label>Search Hotel</mat-label>
      <input matInput formControlName="searchHotel" placeholder="Hotel Name">
    </mat-form-field>

    <mat-checkbox name="private_bath" (change)="onCheckboxChange($event)" formControlName="private_bath">Private Bath</mat-checkbox>
    <mat-checkbox name="shared_kitchen" (change)="onCheckboxChange($event)" formControlName="shared_kitchen">Shared Kitchen</mat-checkbox>
    <button mat-button color="accent" (click)="onResetFilters()" *ngIf="isDirty">Reset Filters</button>
  </form>
</div>
